h1 {
  font: 3em 'Times New Roman', Serif;
  text-decoration: underline;
  text-transform: capitalize;
  margin-top: 0;
  color: #1c4467;
}

h3 {
  font: 1.6em 'Times New Roman', Serif;
  text-align: left;
  text-decoration: underline;
  color: #295a80;
}

a {
  color: #1c4467;
}

a:visited {
  color: #295a80;
}

a:hover {
  color: #ee976f;
}

body {
  background: #cdc;
  min-width: 45em;
  width: 60em;
  font: 1.3em 'Arial', Sans-Serif;
  margin-left: auto;
  margin-right: auto;
  color: #077f3b;
}

#body-wrapper {
  background: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: .3em;
  border: solid #1c4467 .2em;
}

#grid-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

#content-row1 {
  flex: 2 1 15em;
  padding-right: 5em;
}

#content-row2 {
  flex: 1 1 10em;
}

#title {
  display: block;
  width: 100%;
  text-align: center;
  background: #fff;
}

#dish-image {  
  width: 16em;
  float: left;
  height: auto;
  margin-top: .6em;
  margin-right: .3em;
  border: .5px solid #1c4467;
}

#blurb {
  text-indent: 24px;
}

#steps ol {
  counter-reset: prepcount 1;
}

#steps li {
  list-style-position: inside;
  counter-increment: prepcount;
}

#steps li::marker {
  content: "Step " counter(prepcount) ". ";
}

/* Reset recipe title to the top, h3 has built in margins */
#recipe h3 {
  margin-top: -.2em;
}

#recipe ol sub {
  display: block;
  text-indent: 5em;
  font-size: .65em;
}

.body-content {
  padding: 0 .3em 0 .3em;
}